body {
    color: white;
    background-image: url("images/galaxy.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    text-align: center;
}


h1 {
    font-family: "Nunito Sans", sans serif;
    font-size: 80px;
    /* text-align: center; */
}

.btn {
    font-family: Orbitron, sans serif;
    font-size: 30px;
    border-radius: 9px;
    padding: 6px 12px;
    background: white;
    border: none;
}

.btn:hover {
    color: rgba(62, 51, 216, 0.5);
    background-color: lime;
  }

.apply {
    height: 80px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px; /* Height of the footer */
    /* background-color: #6cf; */
  }

  a {
    color: #8ebf42;
  }

  .foot {
    font-size: 30px;
  }